[submodule ".janus/zencoding-vim"]
	path = .janus/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule ".janus/DirDo.vim"]
	path = .janus/DirDo.vim
	url = git://github.com/vim-scripts/DirDo.vim.git
