[alias]
  c = checkout -
  co = checkout
  ci = commit
	up = pull --rebase
	ups = !git stash && git pull --rebase && git stash pop
	p = push
	s = status -s
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
[color]
	ui = always
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
  ff = false
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[user]
	name = Trond Fröding Hatlen
	email = trondfroding@gmail.com
[push]
	default = current
[github]
	user = hatlen
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
[git-pair]
	pattern = dev+%name+%name@mynewsdesk.com
	authors = Trond Fröding Hatlen <trond.froding@mynewsdesk.com>
	authors = Joakim Olander <joakim.westerlund@mynewsdesk.com>
	authors = Lukas Maciulis <lukas.maciulis@mynewsdesk.com>
	authors = Elias Hedlund <elias.hedlund@mynewsdesk.com>
	authors = Markus Nordin <markus.nordin@mynewsdesk.com>
	authors = nicolas medda <nicolas.medda@mynwsdesk.com>
	authors = Team Capture <captureteam@mynewsdesk.com>
[pull]
	rebase = true
